main {
    .container { 
        border-radius: 10px;
        box-shadow: 0px 0px 17px 1px darkcyan;
        background-color: white;
        width: 50%;
        margin-top: 4%;
        padding: 2%;
        .form-group {
            margin: 5%;
            position: relative;
            h1{
                padding: 5%;
                text-align: center;
                border-bottom: solid 1px white;
                box-shadow: 0px 20px 20px -19px darkcyan;
            }

            i {
                font-size: 23px;
                position: absolute;
                top: 2rem;
                right: 10px;
            }

            #show {
                display: block;
            }

            #hide {
                display: none;
            }

        }
        .form-btn{
            text-align: center;
        }
    }

}