main{
    section{
        background-color: #eee;
        .container{
            border: solid 1px;
            border-radius: 10px;
            background-color: aqua;
            width: 50%;
            padding: 4%;
            .form-group{
                margin: 5%;
                position: relative;
                i{
                    font-size: 23px;
                    position: absolute;
                    top: 2rem;
                    right: 100px;
                }
                #show{
                    display: block;
                }
                #hide{
                    display: none;
                }
            }
        }
    }
}