@import "./partials/variables";
main {

    .container { 
        border-radius: 10px;
        box-shadow: 0px 0px 17px 1px darkcyan;
        background-color: white;
        width: 50%;
        margin-top: 4%;
        padding: 2%;
        .logo-register{
            margin: 4%;
            h2{
                // padding: %;
                text-align: center;
                color: darkcyan;
                font-size: 40px;
            }
        }
        .form-group {
            margin: 5%;
            position: relative;
            h1{
                padding: 3%;
                text-align: center;
                border-bottom: solid 1px white;
                box-shadow: 0px 20px 20px -19px darkcyan;
                color: darkcyan;
            }

            i {
                font-size: 23px;
                position: absolute;
                top: 2rem;
                right: 10px;
            }

            #show {
                display: block;
            }

            #hide {
                display: none;
            }

        }
        .form-btn{
            text-align: center;
        }
    }

}


footer{
    margin-top: 10%;
    background-color: #1c2331;
    .socials{
        background-color: $color-main;
    }
    hr{
        width: 60px; 
        background-color: $color-main; 
        height: 2px;
    }

    .info{
        div{
            .row{
                .contact{
                    width: 60px; 
                    background-color: black; 
                    height: 2px;
                }

            }
        }
    }

    .end{
        background-color: rgba(0, 0, 0, 0.2);
    }
}