
main{
    .container{
        width: 100%;
        display: flex;
        position: absolute;
        top: 15rem;
        .product-filter{
            ul{
                li{
                    font-size: 20px;
                    margin: 2%;
                }
            }
        }
        .products{
            background-color: red !important;
            .row{
                justify-content: center !important;
                height: 50vh;
                
            }
        }
    }
}